@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }

    header nav, footer
    {
        display: none;
    }

    body
    {
      font: 12pt Georgia, "Times New Roman", Times, serif;
      line-height: 1.3;
    }

    h1 {
      font-size: 24pt;
    }

    h2 {
      font-size: 14pt;
      margin-top: 25px;
    }

    aside h2 {
      font-size: 18pt;
    }

    .well
    {
      border: 0 !important;
    }

    .form-control
    {
      border: 0;
      padding:0;
      overflow:visible;
    }

    .input-group-addon
    {
      border: 0;
      padding:0;
      overflow:visible;
    }
}
