.jumbotron {
  background-color: #003066;
  color: #fbf9f9;
}

body {
    background-color: #e4e9f7;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right: 0;
  padding-left: 0;
}
